.container {
  display: flex;
  padding: 10px 20px;
  width: 100%;

  &:hover {
    background-color: var(--menuItemHoverBackgroundColor);
  }
}

.series {
  display: flex;
  align-items: center;
  flex: 1 0 0;
  overflow: hidden;
}

.tvdbLink {
  composes: link from '~Components/Link/Link.css';

  margin-left: auto;
  color: var(--textColor);
}

.tvdbLinkIcon {
  margin-left: 10px;
}

.aniDbBadge {
  padding: 2px 6px;
  border-radius: 4px;
  background-color: var(--buttonPrimaryBackgroundColor);
  color: var(--buttonPrimaryTextColor);
  font-weight: bold;
  font-size: 11px;
}

.tvdbBadge {
  padding: 2px 6px;
  border-radius: 4px;
  background-color: var(--themeDarkColor);
  color: #fff;
  font-weight: bold;
  font-size: 11px;
}

.poster {
  flex: 0 0 auto;
  margin-right: 12px;
  width: 36px;
  height: 52px;
  border-radius: 3px;
  object-fit: cover;
}

.details {
  flex: 1 1 0;
  min-width: 0;
}

.meta {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-top: 4px;
  color: var(--disabledColor);
  font-size: 12px;
}
