.container {
  display: flex;
  padding: 10px 20px;
  width: 100%;

  &:hover {
    background-color: var(--menuItemHoverBackgroundColor);
  }
}

.series {
  flex: 1 0 0;
  overflow: hidden;
}

.tvdbLink {
  composes: link from '~Components/Link/Link.css';

  margin-left: auto;
  color: var(--textColor);
}

.tvdbLinkIcon {
  margin-left: 10px;
}

.aniDbBadge {
  margin-left: 8px;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: var(--buttonPrimaryBackgroundColor);
  color: var(--buttonPrimaryTextColor);
  font-weight: bold;
  font-size: 11px;
}