.modalContent {
  width: 450px;
}

.modalBody {
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.linkButton {
  width: 100%;
  text-decoration: none;
}

.button {
  width: 100%;
  justify-content: center;
}

.description {
  font-size: 13px;
  color: var(--text-muted);
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}
