.container {
  display: flex;
  align-items: center;
  min-width: 0;
  max-width: 100%;
}

.link {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    color: var(--linkHoverColor);
    text-decoration: underline;
  }
}
