.button {
  composes: button from '~Components/Link/Button.css';

  position: relative;
}

.spinnerContainer {
  position: absolute;
  top: 50%;
  left: -100%;
  display: inline-flex;
  align-items: center;
  visibility: hidden;
  transition: left $defaultSpeed;
  transform: translateX(-50%) translateY(-50%);
}

.spinner {
  z-index: 1;
}

.spinningLabel {
  margin-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 360px;
}

.label {
  position: relative;
  left: 0;
  transition: left $defaultSpeed, opacity $defaultSpeed;
}

.isSpinning {
  .spinnerContainer {
    left: 50%;
    visibility: visible;
  }

  .label {
    left: 100%;
    visibility: hidden;
  }
}

.hasSpinningLabel {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .spinnerContainer {
    position: static;
    transform: none;
    left: auto;
    top: auto;
    visibility: visible;
  }

  .label {
    display: none;
  }
}

@media only screen and (max-width: $breakpointSmall) {
  .spinningLabel {
    max-width: 200px;
  }
}
